.slide{
    height: 150px;
    width: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.slide:hover{
    cursor: pointer;
}
.slide > h2{
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
    transition: all .3s ease;
    cursor: pointer;
    pointer-events: none;
}

.slide > img{
    position: absolute;
    width: 175px;
    height: 100px;
    left: -25%;
    bottom: -35px;
    transform: rotate(-30deg);
    border-radius: 10px;
    transition: all .3s ease;
    pointer-events: none;
}

.slide:hover > img{
    transform: rotate(-35deg);
}
.slide:hover > h2{
    right: 20px;
}