.slide{
    height: 120px;
    width: 150px;
    position: relative;
    overflow: hidden;
    border-radius:7px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 80%);
}
.slide:hover{
    cursor: pointer;
}
.slide > h2{
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
    transition: all .3s ease;
    cursor: pointer;
    pointer-events: none;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 80%);
}

.slide > img{
    position: absolute;
    left: -10px;
    bottom: -20px;
    width: 90px;
    transform: rotate(-25deg);
    border-radius: 5px;
    transition: all .3s ease;
    pointer-events: none;
    box-shadow: 0 8px 24px rgb(0 0 0 / 80%);
}

.slide:hover > img{
    transform: rotate(-35deg);
}
.slide:hover > h2{
    right: 20px;
}