.loading {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    border-radius: 10px;
  }
  
  .background_masker {
    background-color: #fff;
    position: absolute;
  }
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -800px 0;
    }
    100% {
      background-position: 800px 0;
    }
  }
  .animated_background {
    height: 100%;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: rgb(44, 44, 44);
    background: linear-gradient(
      to right,
      rgb(44, 44, 44)  5%,
      rgb(64, 64, 64) 15%,
      rgb(44, 44, 44)  30%
    );
    background-size: 800px 104px;
    position: relative;
    opacity: 0.9;
    border-radius: 7px;
  }