.music_player{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 90px;
    background-color: #181818;
    border-top: solid 2px rgb(40, 40, 40);
    color: #fff;
    padding: 5px 30px;
    z-index: 90;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.player_controls_buttons{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 16px;
    margin-bottom: 7px;
    width: 40%;
    justify-content: space-between;
}
.player_controls_buttons > svg{
    cursor: pointer;
}
.player_controls_buttons > svg:not(.play):hover{
    fill: #fff !important;
}
.player_controls_buttons > svg.play:hover{
    transform: scale(1.1);
}
.player_controls_buttons > svg:first-child,
.player_controls_buttons > svg:last-child{
    width: 15%;
}
.player_controls_buttons > svg:nth-child(2),
.player_controls_buttons > svg:nth-child(4){
    width: 20%;
}
.player_controls_buttons > svg:nth-child(3){
    width: 30%;
}
.playback_bar{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
.playback_bar p{
    color: #bababa ;
    font-size: 0.6875rem;
}
.playback_bar input{
    min-width: 235px;
}
.playback_bar  input[type=range] {
    width: 100%;
    margin: 3px 12.5px;
    background-color: transparent;
    -webkit-appearance: none;
}
.music_player  input[type=range]{
  background-color: transparent;
  -webkit-appearance: none;
}
.music_player  input[type=range]:focus {
    outline: none;
}
.music_player  input[type=range]::-webkit-slider-runnable-track {
    background: #1ed760;
    border: 0px solid rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    cursor: pointer;
}
.music_player  input[type=range]::-webkit-slider-thumb {
    margin-top: -5px;
    width: 14px;
    height: 14px;
    background: #ffffff;
    border: 0px solid rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 36px;
    cursor: pointer;
    -webkit-appearance: none;
}
.music_player  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1ed760;
}
.music_player  input[type=range]::-moz-range-track {
    background: #1ed760;
    border: 0px solid rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 8px;
    cursor: pointer;
}
.music_player  input[type=range]::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: #ffffff;
    border: 0px solid rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 36px;
    cursor: pointer;
}
.music_player  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 5px 0;
    color: transparent;
    width: 100%;
    height: 8px;
    cursor: pointer;
}
.music_player  input[type=range]::-ms-fill-lower {
    background: #1ed760;
    border: 0px solid rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 20px;
}
.music_player  input[type=range]::-ms-fill-upper {
    background: #1ed760;
    border: 0px solid rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 20px;
}
.music_player  input[type=range]::-ms-thumb {
    width: 18px;
    height: 18px;
    background: #ffffff;
    border: 0px solid rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 36px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
 }
.music_player  input[type=range]:focus::-ms-fill-lower {
    background: #1ed760;
}
.music_player  input[type=range]:focus::-ms-fill-upper {
    background: #1ed760;
}
.track{
    display: flex;
    align-items: center;
    width: 25%;
    max-width: 25%;
    overflow: hidden;
}
.track img{
  border-radius: 50%;
}
.track h6,
.track span{
  color: #bababa;
  white-space: nowrap;
}
.volume_wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
  max-width: 25%;
}
.volume_wrapper .volume_input{
  height: 4px;
  margin-left: 0.5rem;
}
 
@media screen and (max-width: 1500px) {
  .player_controls_buttons{
    width: 50%;
  }
}

@media screen and (max-width: 1280px) {
  .playback_bar{
    width: 85%;
  }
  .playback_bar input{
    min-width: unset;
  }
  .controls_wrap{
    max-width: unset !important;
    width: 40%;
  }
}

@media screen and (max-width: 1050px) {
    .player_controls_buttons{
      width: 70%;
    }
    .playback_bar{
      width: 95%;
    }
}

@media screen and (max-width: 750px) {
  .track > div{
    display: none;
  }
  .track{
    width: fit-content !important;
  }
  .controls_wrap{
    max-width: unset !important;
    width: 50% !important;
  }
  .volume_wrapper{
    max-width: unset !important;
    width: 20%;
  }
  .volume_wrapper input{
    max-width: 80%;
    margin-left: 0.2rem !important;
  }
  .volume_wrapper svg{
    height: 24px ;
    width: 24px ;
    min-width: 24px;
    min-height: 24px;
  }
  .player_controls_buttons svg:not(:nth-child(3)){
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
  }
  .player_controls_buttons svg:nth-child(3){
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
  }
  .player_controls_buttons svg:nth-child(1),
  .player_controls_buttons svg:nth-child(5){
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
  }
}
@media screen and (max-width: 570px) {
  .music_player{
    padding: 5px 10px;
  }
  .track img{
    width: 54px;
    height: 54px;
    margin-right: 0.5rem;
  }
  .controls_wrap{
    width: 60% !important;
    margin: 0px 20px;
  }
  .player_controls_buttons{
    width: 115px;
    gap: 8px;
  }
  .player_controls_buttons > svg:nth-child(1),
  .player_controls_buttons > svg:nth-child(5){
    display: none;
  }
  .volume_wrapper{
    width: unset !important;
  }
  .volume_wrapper input{
    display: none;
  }
  .volume_wrapper svg{
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 500px) {
  .controls_wrap{
    width: unset !important;
    flex: 1;
  }
  .player_controls_buttons svg:nth-child(2),
  .player_controls_buttons svg:nth-child(4){
    width: 30px;
    height: 30px;
  }
  .player_controls_buttons svg:nth-child(3){
    width: 36px;
    height: 36px;
  }
  /* .player_controls_buttons{
    width: unset !important;
  }
  .volume_wrapper{
    max-width: 80px !important;
    width: unset !important;
  } */
}
