.wrapper{
    flex: 1;
    overflow-y: scroll;
}
.wrapper > .hero{
    padding: 7rem 2rem 2.5rem 2rem;
    height: fit-content;
    background: rgb(84,84,84);
    background: linear-gradient(180deg, rgba(84,84,84,1) 0%, rgba(44,44,44,1) 100%);
    display: flex;
    align-items: flex-end;
    color: #fff;
    overflow:hidden ;
}
.wrapper > .hero img{
    box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
}
.wrapper  h5,
.wrapper h6{
    width: fit-content;
    pointer-events: none;
}
.wrapper .controls_wrap{
    display: flex;
    align-items: center;
    margin-bottom: 25px;

}
.wrapper .controls_wrap > .play_icon{
    border-radius: 50%;
    padding: 10px;
    width: 48px;
    height: 48px;
    background-color: #1ed760;
    color: #000;
    cursor: pointer;
    transition: all .3s ease;
    margin-right: 10px;
    box-shadow: 0 4px 60px rgb(0 0 0 / 50%);

}
.wrapper .controls_wrap > .play_icon:hover{
    background-color: #1ab550;
}
.wrapper .controls_wrap > .favourite_icon{
    width: 48px;
    height: 48px;
    padding: 5px;
    cursor: pointer;
    fill: #1ed760;
    box-shadow: 0 4px 60px rgb(0 0 0 / 50%);

}
.wrapper .controls_wrap > .lyrics_btn{
    padding: 0.3125rem 0.9375rem;
    border-radius: 0.3125rem;
    margin-left: 0.9375rem;
    background: rgb(84,84,84);
    background: linear-gradient(180deg, rgba(84,84,84,1) 0%, rgba(44,44,44,1) 100%);
    font-weight: 600;
    font-size: 0.9rem;
    border: 0px solid transparent;
    outline: none;
    transition: all .3s ease;
    box-shadow: 0 4px 60px rgb(0 0 0 / 100%);

}
.wrapper .controls_wrap > .lyrics_btn:hover{
    border: 1px solid #1ab550;
}
.relatedSongsWrapper{
    margin-top: 20px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    max-height: 800px;
    flex-wrap: wrap;
    position: relative;
}
.relatedSongsWrapper > .relatedSong{
    cursor: pointer;
    transition: .3s all ease;
    border-radius: 5px;
    position: relative;
    max-width: 45%;
    width: 100%;
    flex-grow: 1;
    min-width: 400px;  
    margin: 0.1rem 0;
}
.relatedSongsWrapper > .relatedSong > a{
    padding: 10px 15px;
    display: flex;
    align-items: center;
}
.relatedSongsWrapper > .relatedSong > a > span{
    width: 24px;
    height: 24px;
    text-align: center;
    padding: 4px;
}
.relatedSongsWrapper > .relatedSong > a > .play_icon,
.relatedSongsWrapper > .relatedSong > a > .pause_icon{
    fill: #1ed760;
    width: 24px;
    height: 24px;
}
.relatedSongsWrapper > .relatedSong > a > img{
    margin-left: 1.25rem;
    margin-right: 1rem;
    width: 100%;
    max-width: 45px;
    box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
}
.relatedSongsWrapper > .relatedSong:hover,
.relatedSongsWrapper > .relatedSong.related_active{
    background-color: rgb(64, 64, 64);
}
.relatedSongsWrapper > .relatedSong > a > .play_icon,
.relatedSongsWrapper > .relatedSong.related_active:hover > a > .play_icon{
    display: none;
}
.relatedSongsWrapper > .relatedSong > a:hover > .play_icon{
    display: unset;
}
.relatedSongsWrapper > .relatedSong > a:hover > span{
    display: none;
}

@media only screen and (max-width: 1200px) {
    .relatedSongsWrapper{   
        max-height: unset;
    }
    .relatedSongsWrapper > .relatedSong{
        max-width: unset;
        width: 100%;
        min-width: unset;
    }
}

@media only screen and (max-width: 876px) {
    .wrapper > .hero,
    .wrapper > div{
        padding-left:1rem;
        padding-right:1rem;
    }
}

@media only screen and (max-width: 545px) {
    .wrapper > .hero{
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding-top: 7rem;
        max-height: unset;
        height: unset;
    }
    .wrapper > .hero img{
        margin-bottom: 1rem;
    }
}