.card{
    background-color: #181818;
    padding: 16px;
    position: relative;
    border-radius: 7px;
    color: #fff;
    transition: all .3s ease;
    cursor:pointer;
    max-width: calc((100% / 8) - 20px);
    width: 100%;
}

.card:hover{
    background-color: #282828;
}
.card > a > div{
    position: relative;
}
.card > a > div > img {
    box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
    border-radius: 5px;
}
.card > a > div > .play_icon_wrapper {
     position: absolute;
    border-radius: 50%;
    padding: 8px;
    width: 48px;
    height: 48px;
    background-color: #1ed760;
    color: #000;
    bottom: 7px;
    right: 3px;
    cursor: pointer;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(10px);
    opacity: 0;
    box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
}
.card > a > div > .play_icon_wrapper > .play_icon{
    width: 32px;
    height: 36px; 
    pointer-events: none;
}
.card > a > div > .play_icon_wrapper:hover{
    background-color: #1ab550; 
}
.card > a > span {
    color: #a7a7a7;
    line-height: 22px;
}
.card:hover > a > div > .play_icon_wrapper{
    transform: translateY(0);
    opacity: 1;
}

.card h3{
    font-size: 0.95rem;
}
.card span{
    font-size: 0.875rem;
}
@media only screen and (max-width: 1800px) {
    .card{
        max-width: calc((100% / 7) - 17.5px);
        width: 100%;
    }
}
@media only screen and (max-width: 1550px) {
    .card{
        max-width: calc((100% / 6) - 17.5px);
        width: 100%;
    }
}
@media only screen and (max-width: 1350px) {
    .card{
        max-width: calc((100% / 5) - 17.5px);
        width: 100%;
    }
}
@media only screen and (max-width: 1150px) {
    .card{
        max-width: calc((100% / 4) - 16px);
        width: 100%;
    }
}
@media only screen and (max-width: 950px) {
    .card{
        max-width: calc((100% / 3) - 15px);
        width: 100%;
    }
}
@media only screen and (max-width: 876px) {
    .card{
        max-width: calc((100% / 5) - 8px);
        width: 100%;
    }
}
@media only screen and (max-width: 775px) {
    .card{
        max-width: calc((100% / 4) - 8px);
        width: 100%;
    }
}
@media only screen and (max-width: 650px) {
    .card{
        max-width: calc((100% / 3) - 8px);
        width: 100%;
    }
}
@media only screen and (max-width: 500px) {
    .card{
        max-width: calc((100% / 2) - 8px);
        width: 100%;
    }
}
@media only screen and (max-width: 350px) {
    .card{
        max-width: 100%;
        width: 100%;
    }
}
/* @media only screen and (max-width: 750px) {
    .card{
        max-width: calc((100% / 4) - 10px);
        width: 100%;
    }
}
@media only screen and (max-width: 750px) {
    .card{
        max-width: calc((100% / 4) - 10px);
        width: 100%;
    }
} */

/* 
@media only screen and (max-width: 990px) {
    .card{   
        width: 10rem;
        max-width: 10rem;
    }
}

@media only screen and (max-width: 678px) {
    .card{   
        width: 11rem;
        max-width: 11rem;

    }
}

@media only screen and (max-width: 600px) {
    .card{   
        width: 10.5rem;
        max-width: 10.5rem;

    }
}

@media only screen and (max-width: 395px) {
    .card{   
        width: 9rem;
        max-width: 9rem;

    }
} */
