.topbar{
    background: rgb(22,22,22);
    background: linear-gradient(0deg, rgba(22,22,22,1) 0%, rgba(40,40,40,1) 100%);
    opacity: 0.95;
    z-index: 80;
    width: calc(100% - 250px);
    transition: all .3s ease;
    box-shadow: 0 3px 3px rgb(0 0 0 / 60%);

}
.topbar > .mobile_menu{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 60px 1rem 20px 1rem;
    background: rgb(22,22,22);
    background: linear-gradient(0deg, rgba(22,22,22,1) 0%, rgba(40,40,40,1) 100%);
    z-index: -1;
    border-bottom: 1px solid rgb(107, 107, 107);
}
.arrowWrap{
    display: flex;
    align-items: center;
    height: 100%;
}
.arrowWrap > svg{
    width: 34px;
    height: 34px;
    padding: 8px;
    background-color: rgba(14,14,14,0.8);
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease;
    opacity: 1;
}

.arrowWrap > svg:first-child{
    margin-right: 10px;
}

.arrowWrap > svg:hover{
    transform: scale(1.1);
}

.topbar > svg{
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 876px) {
    .topbar{
        width: 100% !important;
        max-width: unset;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .topbar > svg{
        display: block;
    }
}